<div class="row">
				<div class="col-md-6">
					<div class="img-padding">
						<div class="login-img"></div>
					</div>
				</div>
				<div class="col-md-6 text-center">
					<div class="g">
						<h3 class="head">Login</h3>
						<p class="para">Login with your user credentials to access
							your Investment Services dashboard</p>
						<form class="login" id="loginForm">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user"
									aria-hidden="true"></i></span> <input ng-model="loginUsername"
									type="text" class="form-control" id="f_userid" name="usr"
									placeholder="Username">
							</div>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-key"
									aria-hidden="true"></i></span> <input ng-model="loginPassword"
									type="password" class="form-control" id="f_pwd" name="pwd"
									placeholder="Password">
							</div>
							<button ng-click="loginFromForm()" class="btn btn-info">
								<a class="login-btn">Login</a>
							</button>
							<p>
								Don't have an Account? <a href="#">Sign up here</a>
							</p>
						</form>
					</div>
				</div>
			</div>