.navbar{
  background: url('../images/nav-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 0;
}

a.nav-text{
    color: #fff;
}

.nav-tabs {
    margin-top: 10px;
}
