.container{
    max-width: 100%;
}

.flex-container{
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: space-between;
  flex-wrap: wrap;
}

.pie-body{
    margin-left: 50px;
}

.chart-box-header{
	border-bottom: none;
	background-color: #fff;
	font-size: 18px;
    border-top: 5px
}

.stock-price{
    color: green;
}

.buy-sell{
    margin: 10px 0;
}

.market-info{
    margin-top: 20px;
}

.data-table-section {
	margin: 30px 0;
}

tr {
   line-height: 18px;
   min-height: 18px;
   height: 18px;
}

.row.counterparty-info{
    margin-top: 30px;
}


.card.pie-chart-box{
    border: none;
}

.counterparty-drop{
    margin: 0 auto;
    margin-bottom: 30px;
}